.negativeButton{
    -fx-background-color: #ff6363;
}
.negativeButton:hover {
    -fx-background-color: #cc3636;
}

.positiveButton {
    -fx-background-color: #a9ff63;
}

.positiveButton:hover {
    -fx-background-color: #6ecb31;
}

.tab:selected {
    -fx-padding: 5px;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab {
    -fx-background-color: #AED581;
}

.vBox {
    -fx-padding: 10px;
}